<!DOCTYPE html>
<html>
  <head>
    <title>Crud de Clientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Listagem de Clientes</h1>
    <p>Clientes já cadastrado no sistema</p>

    <table>
      <thead>
        <tr>
          <th style="width: 50%">Nome</th>
          <th style="width: 15%">Idade</th>
          <th style="width: 15%">UF</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">Nenhum cliente Cadastrado</td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="4"><a href="/new">Cadastrar Novo</a> </td>
      </tfoot>
    </table>
  </body>
  
  
</html>
